.container{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 90vh;
  flex-direction: column;
  z-index: 2;
}

.title {
  background-color: var(--color-boring);
  opacity: .95;
  padding: 20px;
  padding-inline: 100px;
  margin: 25px;
  z-index: 2;
  border-radius: 100px;
  display: flex;
  flex: space;
}

#background{
  margin: 0;
  overflow: hidden;
  box-sizing: border-box;
  position: absolute;
  height: 100vh;
  width: 100vw;
  background-image: url("/assets/images/starry-background.png");
  background-size: cover;
  // background-color: black;
}

#spaceman{
  background-image: url("/assets/images/spaceman.png");
  position: absolute;
  height: 200px;
  width: 200px;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}

#bottle{
  background-image: url("/assets/images/bottle.png");
  position: absolute;
  height: 75px;
  width: 75px;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}

#can{
  background-image: url("/assets/images/can.png");
  position: absolute;
  height: 75px;
  width: 75px;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}

#chips{
  background-image: url("/assets/images/chips.png");
  position: absolute;
  height: 75px;
  width: 75px;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}

#newspaper{
  background-image: url("/assets/images/newspaper.png");
  position: absolute;
  height: 100px;
  width: 100px;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}

#satellite{
  background-image: url("/assets/images/satellite.png");
  position: absolute;
  height: 400px;
  width: 400px;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}

#trash{
  background-image: url("/assets/images/trash.png");
  position: absolute;
  height: 200px;
  width: 200px;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}

#water-bottle{
  background-image: url("/assets/images/water-bottle.png");
  position: absolute;
  height: 100px;
  width: 100px;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}

#wheel{
  background-image: url("/assets/images/wheel.png");
  position: absolute;
  height: 100px;
  width: 100px;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}
