<mat-card>
  <mat-card-header>
    <mat-card-title>
      <h2>Login</h2>
    </mat-card-title>
  </mat-card-header>
  <mat-card-content [@fadeIn]>
    <form (ngSubmit)="login(username, password)" class="form">
      <mat-form-field appearance="fill">
        <mat-label>Username</mat-label>
        <input
          matInput
          placeholder="Enter your username"
          [(ngModel)]="username"
          name="username"
          required
        />
      </mat-form-field>
      <mat-form-field appearance="fill">
        <mat-label>Password</mat-label>
        <input
          matInput
          type="password"
          placeholder="Enter your password"
          [(ngModel)]="password"
          name="password"
          required
        />
      </mat-form-field>
      <button mat-raised-button color="accent" type="submit">Login</button>
    </form>
    <div class="reset">
      <div [ngClass]="{'error' : error == true}" class="hide">
        {{errorMessage}}
      </div>
      <a href="">Forgot Username or Password?</a> <br /><br />
      <a (click)="toRegister()" style="cursor: pointer;">New User? Register Here</a>
    </div>
    <div></div>
  </mat-card-content>
</mat-card>
