#background{
  margin: 0;
  overflow: hidden;
  box-sizing: border-box;
  position: absolute;
  height: 100vh;
  width: 100vw;
  background-image: url("../../../images/starry-background.png");
  background-size: cover;
  // background-color: black;
}

.container{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  flex-direction: column;
  z-index: 2;
}

.title {
  color: var(--color-primary);
  z-index: 2;
}

mat-card{
  opacity: .75;
  width: 600px;
}


#spaceman{
  background-image: url("../../../images/spaceman.png");
  position: absolute;
  height: 200px;
  width: 200px;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}

#bottle{
  background-image: url("../../../images/bottle.png");
  position: absolute;
  height: 75px;
  width: 75px;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}

#can{
  background-image: url("../../../images/can.png");
  position: absolute;
  height: 75px;
  width: 75px;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}

#chips{
  background-image: url("../../../images/chips.png");
  position: absolute;
  height: 75px;
  width: 75px;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}

#newspaper{
  background-image: url("../../../images/newspaper.png");
  position: absolute;
  height: 100px;
  width: 100px;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}

#satellite{
  background-image: url("../../../images/satellite.png");
  position: absolute;
  height: 400px;
  width: 400px;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}

#trash{
  background-image: url("../../../images/trash.png");
  position: absolute;
  height: 200px;
  width: 200px;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}

#water-bottle{
  background-image: url("../../../images/water-bottle.png");
  position: absolute;
  height: 100px;
  width: 100px;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}
