
.add-idea-container {
  margin: 25px;
  text-align: center;
  justify-content: center;
  align-items: center;
}

.form-container {
  display: flex;
  flex-direction: column;
  margin: 10px;
}

.success {
  width: 100%;
  text-align: center;
  padding: 5px;
}

.deleted {
  color: var(--color-warn);
}

.created {
  color: green;
}
