<nav class="flex flex-row">
  <div class="selector">
    <mat-form-field>
      <mat-label>BrainStorm</mat-label>
      <mat-select [(value)]="selected">
        <mat-option>
          <div class="flex flex-row new-select" (click)="openDialog('Add New Brain Storm', 'brainStorm')">
            <p>Create New</p>
            <div>
              <img src="/assets/images/add.png" height="25px" width="25px" />
            </div>
          </div>
        </mat-option>
        <mat-option
          *ngFor="let storm of brainStormArr"
          [value]="storm.id"
          (click)="setSelectedBrainStorm(storm)"
        >
          {{ storm.title }}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </div>
  <div class="flex flex-row nav-container">
    <div class="flex flex-row nav-item" (click)="openDialog('Red Alert', 'projects')">
      <div><img src="/assets/images/briefing.png" height="25px" /></div>
      <div>Projects</div>
    </div>
    <div class="flex flex-row nav-item" [mat-menu-trigger-for]="menu">
      <div><img src="/assets/images/spaceman.png" height="25px"/></div>
      <div>{{ username }}</div>
      <mat-menu #menu="matMenu">
        <button mat-menu-item (click)="openDialog('User Profile', 'user-profile')">Edit Profile</button>
        <button mat-menu-item (click)="logout()">Logout</button>
      </mat-menu>
    </div>
  </div>
</nav>
