<div class="welcome-container">
  <div class="welcome-title">
    <h1>Welcome to Brain Dump</h1>
  </div>
  <div class="start-container">
    <div class="welcom-intro">
      <img src="assets/images/spaceman.png" height="150px"/>
      <p>
        Brain Dump is a wonderful place to "dump" your ideas out of your brain and put them into digital ink. On behalf of the many,
        super talented developers here at Brain Dump I want to say thank you for using this software. Donations and tips while not necessary, are
        greatly appreciated.
      </p>
      <br />
      Also, it is space themed
    </div>
    <button (click)="goToMain()" mat-raised-button color="accent">Let's Get Started</button>
  </div>
</div>
