
// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@use '@angular/material' as mat;
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat.core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$frontend-primary: mat.define-palette(mat.$light-blue-palette);
$frontend-accent: mat.define-palette(mat.$yellow-palette);
$frontend-ugly: mat.define-palette(mat.$brown-palette);

// The warn palette is optional (defaults to red).
$frontend-warn: mat.define-palette(mat.$red-palette);
$frontend-boring: mat.define-palette(mat.$gray-palette);

// Create the theme object. A theme consists of configurations for individual
// theming systems such as "color" or "typography".
$frontend-theme: mat.define-light-theme((
  color: (
    primary: $frontend-primary,
    accent: $frontend-accent,
    ugly: $frontend-ugly,
    warn: $frontend-warn,
    boring: $frontend-boring
  )
));

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include mat.all-component-themes($frontend-theme);

/* You can add global styles to this file, and also import other style files */


html, body { height: 100%; }
body {
  margin: 0;
  font-family: Roboto,
  "Helvetica Neue", sans-serif;
  box-sizing: border-box;
  background-image: url("/assets/images/spaceship-background.jpg");
  background-size: cover;
}

:root{
  --color-primary: #0277BD;
  --color-accent: #FFFF00;
  --color-brown: #795548;
  --color-boring: #424242;
  --color-warn: #D50000;
}

.primary{
  color: var(--color-primary);
}
.accent{
  color: var(--color-accent);
}
.boring{
  color: var(--color-boring);
}

button {
  font-size: large;
  font-weight: bold;
}

button:hover {
  color: white;
}

a {
  text-decoration: none;
  color: var(--color-primary);
}

mat-card{
  opacity: .85;
  width: 600px;
}

mat-card-title {
  margin: 0;
  width: 100%;
}

mat-card-header {
  width: 100%;
  display: flex;
  justify-content: center;
}

.form {
  padding: 10px;
  background-color: white;
  display: flex;
  flex-direction: column;
}

.reset {
  text-align: center;
}

.flex {
  display: flex;
}

.flex-row{
  flex-direction: row;
  align-items: center;
}

.flex-column{
  flex-direction: column;
}
